<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-searchbar showCancelButton cancelButtonText="Cancel" animated></ion-searchbar>
</ion-header>

<ion-content padding>
  <ion-label>Cari Barang Apa?</ion-label>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="goAddBarang()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-card *ngFor="let data of barangList" (click)="goDetailBarang(data)">
    <ion-item>
        <ion-label>{{data.nama}}</ion-label>
    </ion-item>
        <ion-card-content>
          <b>Status :</b> {{data.stok}}<br><b>Keterangan:</b> <br>{{data.keterangan}}
        </ion-card-content>
  </ion-card>
</ion-content>
