<ion-header>
  <ion-toolbar color="primary">
    <ion-button fill="clear" color="light" slot="start" (click)="closeModal()">
          <ion-icon name="close"></ion-icon>
    </ion-button>
    <ion-title>Komentar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card *ngFor="let data of barangList" (click)="goDetailBarang(data)">
        <ion-item>
            <ion-label>{{data.nama}}</ion-label>
        </ion-item>
            <ion-card-content>
              <b>Status :</b> {{data.stok}}<br><b>Keterangan:</b> <br>{{data.keterangan}}
            </ion-card-content>
    </ion-card>
    <ion-button expand="block" (click)="goComment()">Submit</ion-button>
</ion-content>
